.Footer {
    display: flex;
    height: 10em;
    width: 100%;
    background-color: coral;
    border: 4px ridge cornflowerblue;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    
}